body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

/* First Section */

.container{
  background-image: url('../images/banner/banner3.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size: contain;

}
.first-section{
  padding: 50px 150px 200px 600px;
  text-align: right;
  
}

.title{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: #FFFFFF;
margin-bottom: 10px;

}

.details{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #FFFFFF;
}

.btn a{
  text-decoration: none;
  background-color: #FFFFFF;
  color: #005FAC;
  padding: 7px;
  border-radius: 5px;
}



/* second-section */
.second-section{
  display: flex;


}

.img{
  height: 700px;
  width: 500px;
  margin: 50px 0 0 100px;
}

.sub-title{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}

.failures{
  height: 400x;
  width: 400px;
  margin: 330px 0px 0px 90px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  text-align: left;
}
.bullet-point{
margin-left: 0;
}
.bullet-point ul{
  list-style: none;
}

.bullet-point .fas{
  padding-right: 5px;
  color: #16D887;
}


/* Third-section */

.third-title{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #151414;
  margin-top: 100px;
}

.my-plans{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 40px;
}

/* Fourth-section */
.fourth-section{
  background-image: url('../images/watch.png');
  background-repeat: no-repeat;
  background-position:center;
  height: 280px;
  width: 1000px;
  background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 0.5;
  
  
}
.fourth-detail{
  padding-top: 25px;
  padding-left: 80px;
}

.fourth-title{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  padding-right: 330px;
}
